@charset "utf-8";

.portfolioContent { padding-top:85px; font-family: 'Roboto', sans-serif;}

/* 포폴 백그라운드 */
.pf-topbg { background:url(../images/portfolio_top_bg.png) no-repeat;
    background-size:cover; background-position: center;
    height:30vw; position: relative;
}
.pf-topbg h2 { font-size:60px; z-index:9999; color:#000;
    position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);
    font-family: 'Montserrat', sans-serif;
}
.pf-bg-overlay { position: absolute; width:100%; height:30vw;
    background:#fff; opacity: 0.6;
}

/* 이동 설명 글 */
.pf-wrap { background:#eee }
.pf { background:#fff; }
.pf > p { text-align: center;
    color:#aaa; padding-top:65px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 포폴 이미지, 설명 리스트 */
.pf-list-section { padding:50px 0 100px; display:flex; flex-wrap:wrap;
    justify-content: center;
}
.pf-list-section > div { width: 42%; margin:3%;}
.pf-list-section img { border-radius:15px; border:2px solid #ddd;
    height:300px;
}

.pf-overlay-wrap { position: relative;  }
.pf-overlay { position: absolute; top:0; left:0; bottom:0; right:0;
     background:rgba(0,0,0,0.5);
     border-radius:15px;
     overflow: hidden; 
     opacity:0;
     transition: all 0.5s;
}
.pf-overlay i { font-size:200px; color:rgba(255,255,255,0.5);
    position: absolute; left:-160px; bottom:-35px;
    transition: all 0.7s;
}
.pf-overlay-wrap:hover .pf-overlay { opacity: 1;}
.pf-overlay-wrap:hover i {
    position: absolute; left:300px;
}
.pf-txt { margin-left: 8px;}
.pf-txt h2 { font-size:20px; font-weight:500;
    color:#222;
    padding:25px 0 15px;}
.pf-txt span { font-size: 18px; font-family: 'Noto Sans KR', sans-serif;
    padding-left:5px; 
}
.pf-txt p { font-size:17px; color:#555;}
.pf-txt p+p { padding-top:10px;}
.pf-txt p:last-child { line-height:1.7; }
.pf-txt p:last-child span { font-size: 16px; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400 ;
}
.pf-txt a { text-decoration: underline; }

.color01 div:nth-child(2) { background:#32b67a}
.color01 div:nth-child(3) { background:#122947}
.color01 div:nth-child(4) { background:#ddd}

.color02 div:nth-child(2) { background:#194c96;}
.color02 div:nth-child(3) { background:#fff38d}
.color02 div:nth-child(4) { background:#9dd9ff}

.color03 div:nth-child(2) { background:#b32025;}
.color03 div:nth-child(3) { background:#ffbc0d;}

.color04 div:nth-child(2) { background:#039fea;}
.color04 div:nth-child(3) { background:#ff79c8;}
.color04 div:nth-child(4) { background:#0d50aa;}

.color05 div:nth-child(2) { background:#000;}
.color05 div:nth-child(3) { background:#fff;}
.color05 div:nth-child(4) { background:#fedb3c;}
